@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Onest&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Onest", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  font-family: "Londrina Solid", cursive;
  font-size: 46pt;
  @apply text-slate-900;
  line-height: 110%;
}

.text-clip {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-1 {
  background-image: linear-gradient(
    135deg,
    #ff704f 12%,
    #7492ff 34%,
    #5ca96b 64%,
    #614533 86%
  );
}
