@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  @apply sm:text-6xl text-4xl text-slate-900;
}

.header2 {
  @apply sm:text-4xl text-xl text-slate-900;
}

.highlight {
  box-shadow: 0 0 10px 4px #9677f348;
}

.text-clip {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-1 {
  background-image: linear-gradient(
    135deg,
    #ff704f 12%,
    #7492ff 34%,
    #5ca96b 64%,
    #614533 86%
  );
}

.gradient-text-2 {
  background-image: linear-gradient(135deg, #be4bdb 5%, #f783ac 95%);
}

.gradient-text-3 {
  background-image: linear-gradient(135deg, #7950f2 5%, #4dabf7 95%);
}
